@model ICollection<Person>
    @{
        Layout = null;
    }

    <html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
    <head>
        <!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>Natteravnene</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->
        <style>
            .num {
                mso-number-format: General;
            }

            .text {
                mso-number-format: "\@@"; /*force text*/
            }
        </style>
    </head>
    <body>



        <table id="Voulunteers-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="9" height="100" style="padding: 10px; background-color: black; color: black;"><img src="@Url.Content("~/Content/img/Natteravnene_logo_gul_forside.png", true)" alt="Natteravnene logo" height="80" style="height: 80px;" /></th>
                </tr>
                <tr style="background-color: black; color: white;">
                    <th>@DomainStrings.Username</th>
                    <th>@DomainStrings.FirstName</th>
                    <th>@DomainStrings.FamilyName</th>
                    <th class="center">@DomainStrings.Mobile</th>
                    <th class="center">@DomainStrings.Phone</th>
                    <th>@DomainStrings.Email</th>
                    <th>@DomainStrings.Address</th>
                    <th>@DomainStrings.Zip</th>
                    @*<th>@DomainStrings.PersonType</th>*@
                    @*<th>@DomainStrings.Teamleader</th>
                        <th>@General.Board</th>
                        <th>@DomainStrings.SignupDate</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (Person P in Model)
                {
                    <tr>
                        <td style="padding: 0 5px;">@P.UserName</td>
                        <td style="padding: 0 5px;">@P.FirstName</td>
                        <td style="padding: 0 5px;">@P.FamilyName</td>
                        <td style="padding: 0 5px;">@P.Mobile</td>
                        <td style="padding: 0 5px;">@P.Phone</td>
                        <td style="padding: 0 5px;">@P.Email</td>
                        <td style="padding: 0 5px;">@P.Address</td>
                        <td style="padding: 0 5px;">@P.Zip @P.City</td>

                    </tr>
                }

            </tbody>

        </table>
    </body>
</html>
