<div class="page-header position-relative">
    <h1>
        @General.MessageMailTo
    </h1>
</div>
<p>@General.MessageMailToExplain</p>
<div class="row">
    <div class="col-lg-6">
        <h2>@General.MailToHeadWithName</h2>
        <textarea class="form-control" rows="20">@ViewBag.Emails</textarea>
    </div>
    <div class="col-lg-6">
        <h2>@General.MailToHeadNoName</h2>
        <textarea class="form-control" rows="20">@ViewBag.EmailsNoName</textarea>
    </div>
</div>